body {
  margin: 0;
  width: 100%;
  font-size: 18px;
  color: #52565C;
  font-family:'LatoOFL';
}

.grid{
  width:1170px;
  margin: 0 auto;
}

h1{font-size: 72px;}
h2{font-size: 50px;}

p{
  line-height: 27px;
}

/*************
 *  HEADER   *
 *************/
header {
  background:url(../img/img-net.jpg)no-repeat center center;
  width: 100%;
  height: 550px;
  padding-top: 10px;
  text-align: center;
  color: #2980b9;
}

header #logo{
  width:350px;
}

.titles{
  font-family: 'LatoOFLBla';
  margin-top: 10px;
}

.titles p{font-size: 24px;}

.btn{
  background-color: #2980b9;
  color:#ecf0f1;
  font-size: 20px;
  text-align: center;
  height: 60px;
  line-height: 60px;
  width: 240px;
  margin-top: 30px;
  margin-left: 400px;
  border-radius: 5px;
  vertical-align: top;
}

.btn a{
  text-decoration: none;
  color: #ecf0f1;
}

.titles, .btn{
  display: inline-block;
}

/***************
 *   SECTIONS  *
 ***************/
section{
  padding: 50px 0;
}

section.blue{
  background-color:#2980b9;
  color: #ecf0f1;
}

section.white h2, section.white h3{
  color: #2980b9;
}

section.image img{
  height: 550px;
  width:100%;
}
/***************
 *     MENU    *
 ***************/
.menu{
  width: 100%;
}

.menu li{
  display: inline-block;
  width: 180px;
}

.menu li + li{
  margin-left: 310px;
}

.menu li a{
  text-decoration: none;
  color: #ecf0f1;
  font-size: 24px;
}

/***************
 *   CONTENT   *
 ***************/

.text h2{
  padding-bottom: 50px;
}

.text h3{
  font-size: 30px;
  padding-bottom: 5px;
  padding-top: 20px;
}

.text p{
  padding-top: 20px;
  letter-spacing: 1px;
}

em{
  color: #2980b9;
  font-weight: bold;
}

.colaboration-type{
  width: 25%;
  display: inline-block;
  vertical-align: top;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

.colaboration-type h3{
  text-align: center;
}

.colaboration-type img{
  margin: auto;
  display: block;
}

.colaboration-type + .colaboration-type{
  margin-left: 12%;
}

.colaboration-type a{
  color:#2980b9;
  text-decoration: none;
}


.info .logo{
  margin-left: 600px;
}

.info .logo img{
  width:160px;
}

.info .logo, .info .text{
  display: inline-block;
}

/******************
 *    DONATION    *
 ******************/

.data-caixa{
  color:#2980b9;
}

.logo-donation, .text-donation{
  display: inline-block;
}

.text-donation{
  width: 70%;
}

.logo-donation{
  vertical-align: baseline;
  text-align: center;
}

.logo-donation h1{
  color: #2980b9;
}

.logo-donation #logo{
  width:200px;
}



/***************
 *    FORM     *
 ***************/

/*.form{
  display:inline-block;
  width: 40%;
  vertical-align: top;
}

.form input, .form textarea{
  border:none;
  margin-bottom: 10px;
  display: block;
  border-bottom: solid 1px #ecf0f1;
  padding: 8px 8px 2px 0;
  background-color: #2980b9;
  width: 100%;
}

.form textarea{
  height:70px;
}

.form img{
  text-align: right;
}
*/


/**********************
 *      Fontes        *
 **********************/
@font-face {
  font-family: 'LatoOFL';
  src: url('../fonts/LatoOFL/OTF/Lato-Reg.otf');
  src: url('../fonts/LatoOFL/TTF/Lato-Reg.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LatoOFLBla';
  src: url('../fonts/LatoOFL/OTF/Lato-Bla.otf');
  src: url('../fonts/LatoOFL/TTF/Lato-Bla.ttf');
  font-weight: normal;
  font-style: normal;
}
